<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center' style="margin-top: -2%">
    <div class='title'>Classify Marvel Heroes Images </div>
    <!-- <p>
      Use images of <strong>teddy</strong> bears, <strong>black</strong> bears, <strong>grizzly</strong> bears, or
      all three!
    </p> -->

      <figure style="-moz-user-select: auto;">
                  
                      <img src="../static/Marvel-Heroes.jpg" alt="Marvel Heroes" style="border: none; width: 50%">
      </figure>

    <p>
      Use images of <strong>Ironman</strong>, <strong>Captain America</strong>, <strong>Black Widow</strong>,
      <strong>Black Panther</strong>, <strong>Captain Marvel</strong>, <strong>Deadpool</strong>,
      <strong>Hulk</strong>, <strong>Spiderman</strong>, <strong>Thor</strong>,
      <strong>wolverine</strong>, <strong>Venom</strong><strong> and most obviously Thanos</strong>
    </p>

    <strong>Let's begin the War</strong>

    <div class='content' style="margin-top: 2%">
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze' style="margin-top: 2em">
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
